.App {
  font-family: sans-serif;
  text-align: center;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  margin-bottom: 0px;
  cursor: pointer;
  transition: color 0.3s;
  vertical-align: text-bottom;
  background-color: #002140;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background-image: url("https://scontent.fgdl5-1.fna.fbcdn.net/v/t1.0-9/46101468_281926645792675_7052267919857680384_n.png?_nc_cat=101&_nc_ht=scontent.fgdl5-1.fna&oh=8d72ffbf42224b137aa0af8b88701819&oe=5D41109A");
  max-width: 100%;
  max-height: 100%;
  margin: 16px;
}

.left {
  text-align: left;
}

.background-blue {
  background: #0050b3;
}

.background-blue h3,
b,
.ant-col-6 {
  color: #ffffff;
  line-height: 50px;
}
